@import "tailwindcss";
@keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-infinite-scroll {
    animation: infinite-scroll 10s linear infinite;
  }
  /* Estilo para el contenedor de la barra de scroll */
.elegant-scrollbar::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de scroll horizontal */
}

/* Estilo para la "pista" de la barra de scroll (el fondo) */
.elegant-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f5f9; /* Un gris muy claro, casi blanco */
  border-radius: 10px;
}

/* Estilo para el "pulgar" de la barra de scroll (la parte que se mueve) */
.elegant-scrollbar::-webkit-scrollbar-thumb {
  background-color: #baa7e4; /* Color violeta (violet-500 de Tailwind) */
  border-radius: 10px;
}

/* Estilo para el "pulgar" cuando pasas el mouse sobre él */
.elegant-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8696; /* Un violeta un poco más oscuro (violet-600) */
}
/* En tu archivo CSS global, ej: src/globals.css */

/* Keyframes para la animación de entrada de los textos */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase de utilidad para aplicar la animación */
.animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
}


/* Estilo y animación para el efecto de pulso/onda en el fondo */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  /* Usamos un color blanco semi-transparente para el efecto de luz */
  background-color: rgba(255, 255, 255, 0.4);
  /* La animación durará 0.7 segundos */
  animation: ripple-animation 0.7s ease-out forwards;
  /* El transform-origin asegura que escale desde el centro */
  transform: scale(0);
  pointer-events: none; /* Evita que la onda interfiera con otros clics */
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}